@model List<App.Library.GameDetailResponse>

<div class="row">
    @foreach (var i in Model)
    {
        <div class="col-6 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@i.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@i.GamePrice TL</h5>
                    <h4 class="card-title">@i.GameName</h4>
                    <p class="card-text">@i.Description</p>
                    <h6 class="card-title">@i.CategoryName</h6>
                    <h6 class="card-title">@i.Publisher</h6>
                    <a href="#" class="btn btn-primary">Add to Card</a>
                </div>
            </div>
        </div>
    }
</div>